{% extends "components/page-header.html.twig" %}

{% block headerContent %}
<p>
De bibliotheek is voor iedereen. Letterlijk. Uit het marktonderzoek dat we deden bleek hoe enorm divers het profiel van onze leden en bezoekers is. We bereiken álle in de stad aanwezige groepen, iedere leeftijd en élk welstandsniveau.
</p>
{% endblock %}

