{% extends "components/page-header.html.twig" %}

{% block headerContent %}
<p>
Wij geven mensen energie om zich te ontwikkelen. Dat doen wij op vier manieren: we delen, inspireren, bieden verdieping en laten mensen nieuwe dingen ervaren. Onze focus ligt daarbij op de thema's Taal, Digitaal, Kennisdeling &amp; Talentontwikkeling en Meedoen.
</p>
{% endblock %}

