<div class="overflow-x-hidden bg-{{ color }} pb-8">
    <div class="container mx-auto flex flex-wrap pt-6">
        <div class="w-full lg:w-full flex-none">
            <div class="sticky pin-t flex">
                <div class="hidden lg:block w-1/6 p-6">
                    <ul class="menu list-reset">
                        <li class="nav-item nav-chapter" data-target="0" data-chapter="1">Wij bereiken iedereen</li>
                        <li class="nav-item" data-target="1">Feiten en cijfers</li>
                        <li class="nav-item nav-chapter" data-target="2" data-chapter="2">Wij dragen bij aan de ontwikkeling van mensen</li>
                        <li class="nav-item" data-target="3">Taal</li>
                        <li class="nav-item" data-target="4">Digitaal</li>
                        <li class="nav-item" data-target="5">Kennisdeling en talentontwikkeling</li>
                        <li class="nav-item nav-chapter" data-target="6" data-chapter="3">Wij zijn ondernemend, innovatief en werken samen</li>
                        <li class="nav-item" data-target="7">Meedoen</li>
                        <li class="nav-item text-{{ color }}-dark" data-target="8">Verbonden met de stad</li>
                    </ul>
                </div>
                <div class="text w-full lg:w-3/4 p-6 pb-0">
                    {% block leftContent %}
                        <p class="leading-normal links-have-no-underline w-full mr-auto mb-16" style="max-width: 1080px">
                            <a href="https://24uurinbedrijf.nl/" target="_blank">24 uur in bedrijf</a>
                            /
                            <a href="http://www.architectuurlessen.nl/" target="_blank">Architectuurlessen</a>
                            /
                            <a href="https://www.antoonschellenscollege.info/" target="_blank">Antoon Schellenscollege</a>
                            /
                            <a href="http://www.bibliocenter.nl" target="_blank">Bibliocenter</a>
                            /
                            <a href="http://bibliotheek.cultuurspoorbest.nl" target="_blank">Bibliotheek Best</a>
                            /
                            <a href="http://www.bibliotheekdekempen.nl" target="_blank">Bibliotheek De Kempen</a>
                            /
                            <a href="http://www.bibliotheeklagebeemden.nl" target="_blank">Bibliotheek De Lage Beemden</a>
                            /
                            <a href="https://www.bibliotheekdommeldal.nl/" target="_blank">Bibliotheek Dommeldal</a>
                            /
                            <a href="http://www.bibliotheekhelmondpeel.nl" target="_blank">Bibliotheek Helmond-Peel</a>
                            /
                            <a href="http://www.biblioplus.nl" target="_blank">BiblioPlus</a>
                            /
                            <a href="http://www.bibliotheekveldhoven.nl" target="_blank">Bibliotheek Veldhoven</a>
                            /
                            <a href="https://www.libris.nl/vanpiere" target="_blank">Boekhandel Van Piere</a>
                            /
                            <a href="https://nl-nl.facebook.com/borstvoedingscafeeindhoven/" target="_blank">Borstvoedingscafe</a>
                            /
                            <a href="https://cke.nl/" target="_blank">CKE</a>
                            /
                            <a href="http://www.creativering.eu/eindhoven/" target="_blank">Creative Ring</a>
                            /
                            <a href="http://www.cubiss.nl" target="_blank">Cubiss</a>
                            /
                            <a href="https://www.cultuurstation.nl/" target="_blank">Cultuurstation</a>
                            /
                            <a href="https://www.debroekriem.nl/" target="_blank">De Broekriem</a>
                            /
                            <a href="https://buzinezzclub.nl/" target="_blank">de Buzinezzclub</a>
                            /
                            <a href="http://dekrook.be/" target="_blank">De Krook Gent</a>
                            /
                            <a href="https://www.derolfgroep.nl/" target="_blank">De Rolf Groep</a>
                            /
                            <a href="https://www.derooipannen.nl/" target="_blank">De Rooi Pannen</a>
                            /
                            <a href="https://www.deschoolschrijver.nl/" target="_blank">De schoolschrijver</a>
                            /
                            <a href="https://www.designacademy.nl/" target="_blank">Design Academy</a>
                            /
                            <a href="https://www.digitolk.nl/" target="_blank">Digitolk</a>
                            /
                            <a href="https://www.dikkie-en-dik.nl/" target="_blank">Dikkie & Dik Kinderopvang</a>
                            /
                            <a href="https://dokk1.dk/english" target="_blank">Dokk1 Aarhus</a>
                            /
                            <a href="https://www.dutchtechnologyweek.com/" target="_blank">DTW</a>
                            /
                            <a href="http://www.ddw.nl/" target="_blank">Dutch Design Week</a>
                            /
                            <a href="http://www.dutchhappinessweek.nl/" target="_blank">Dutch Happiness Week</a>
                            /
                            <a href="https://www.dynamo-eindhoven.nl" target="_blank">Dynamo</a>
                            /
                            <a href="https://eckartcollege.nl/" target="_blank">Eckart college</a>
                            /
                            <a href="https://www.eindhovendoet.nl/home" target="_blank">Eindhoven Doet</a>
                            /
                            <a href="http://www.prehistorischdorp.nl/nl" target="_blank">Eindhoven Museum</a>
                            /
                            <a href="http://www.eindhovendeelt.nl/eindhoven.html" target="_blank">EindhovenDeelt</a>
                            /
                            <a href="https://www.eindhoveninbeeld.com/" target="_blank">Eindhoven in beeld</a>
                            /
                            <a href="https://www.edic-eindhoven.nl/" target="_blank">Europe Direct Eindhoven</a>
                            /
                            <a href="https://www.ebsonline.nl" target="_blank">Evangelische basisschool online</a>
                            /
                            <a href="https://www.hollandexpatcenter.com/nl/" target="_blank">Expat Center South</a>
                            /
                            <a href="http://expatspousesinitiative.org/" target="_blank">Expat Spouses Initiative</a>
                            /
                            <a href="https://www.fnv.nl/" target="_blank">FNV</a>
                            /
                            <a href="https://fontys.nl/" target="_blank">Fontys Hogeschool</a>
                            /
                            <a href="https://g1000.nu/" target="_blank">G1000</a>
                            /
                            <a href="https://www.alzheimer-nederland.nl/regios/zuidoost-brabant/geheugenkracht" target="_blank">GeheugenKracht</a>
                            /
                            <a href="http://www.geluksroute.nu/editie/eindhoven/" target="_blank">Geluksroute</a>
                            /
                            <a href="https://www.eindhoven.nl/" target="_blank">Gemeente Eindhoven</a>
                            /
                            <a href="https://www.waalre.nl" target="_blank">Gemeente Waalre</a>
                            /
                            <a href="http://www.ggze.nl/" target="_blank">GGzE</a>
                            /
                            <a href="https://www.kempel.nl/" target="_blank">Hogeschool De Kempel</a>
                            /
                            <a href="https://www.humanitas.nl/" target="_blank">Humanitas</a>
                            /
                            <a href="http://www.isecampus.nl/Flex/Site/Page.aspx?PageID=&Lang=" target="_blank">Internationale school</a>
                            /
                            <a href="https://www.tarieq.nl" target="_blank">Islamitische basisschool Tarieq</a>
                            /
                            <a href="https://www.kbo-brabant.nl/grouppage.php?action=view&Groep_Id=593" target="_blank">KBO-kring Eindhoven</a>
                            /
                            <a href="https://www.trudo.nl/nieuws/nieuwe-kids-plus-activiteiten-voor-tieners-in-woensel-west" target="_blank">Kids Plus (Sint Trudo)</a>
                            /
                            <a href="https://www.kb.nl" target="_blank">Koninklijke Bibliotheek</a>
                            /
                            <a href="https://www.korein.nl/" target="_blank">Koreingroep</a>
                            /
                            <a href="https://www.leesadviezen.nl/" target="_blank">Leesadviezen.nl</a>
                            /
                            <a href="http://www.lumenswerkt.nl/" target="_blank">Lumensgroep</a>
                            /
                            <a href="http://www.ditisbrainy.nl" target="_blank">Moved</a>
                            /
                            <a href="http://mudmagazine.nl/" target="_blank">MUD Magazine</a>
                            /
                            <a href="https://www.mytylschooleindhoven.nl" target="_blank">Mythylschool</a>
                            /
                            <a href="https://www.natlab.nl/" target="_blank">Natlab door Plaza Futura</a>
                            /
                            <a href="https://www.nbdbiblion.nl/" target="_blank">NBD Biblion</a>
                            /
                            <a href="https://www.nederlandkantelt.nl/" target="_blank">Nederland Kantelt</a>
                            /
                            <a href="https://www.neos.nl/" target="_blank">Neos</a>
                            /
                            <a href="https://www.oba.nl/" target="_blank">Openbare Bibliotheek Amsterdam</a>
                            /
                            <a href="https://www.parktheater.nl/" target="_blank">Parktheater</a>
                            /
                            <a href="https://www.kinderopvangtotaal.nl" target="_blank">Platform Samenwerkende Kindercentra Eindhoven (PSKE)</a>
                            /
                            <a href="http://www.helderhavovwo.info/" target="_blank">Plein college Helder</a>
                            /
                            <a href="http://www.plusbibliotheken.nl/" target="_blank">Plusbibliotheken</a>
                            /
                            <a href="https://www.facebook.com/Poezieclub.Eindhoven/" target="_blank">Poëzieclub Eindhoven</a>
                            /
                            Proeftuin040
                            /
                            <a href="https://www.rabobank.nl/lokale-bank/regio-eindhoven/" target="_blank">Rabobank Eindhoven – Veldhoven</a>
                            /
                            <a href="https://www.facebook.com/TheReadingPier/" target="_blank">Reading Pier</a>
                            /
                            <a href="https://www.rhc-eindhoven.nl/" target="_blank">RHCe</a>
                            /
                            <a href="https://rijkt.nl/" target="_blank">Rijkt</a>
                            /
                            <a href="https://www.rodekruis.nl/" target="_blank">Rode Kruis</a>
                            /
                            <a href="https://www.rotary.nl/eindhoven/" target="_blank">Rotary</a>
                            /
                            <a href="http://www.salto-eindhoven.nl" target="_blank">SALTO</a>
                            /
                            <a href="http://www.samenvooreindhoven.nl/" target="_blank">Samen voor Eindhoven</a>
                            /
                            <a href="http://www.sardes.nl/" target="_blank">Sardes</a>
                            /
                            <a href="https://www.sbk.nl/eindhoven" target="_blank">SBK Eindhoven</a>
                            /
                            <a href="https://www.sghetplein.nl/" target="_blank">Scholengroep Het Plein</a>
                            /
                            <a href="https://seats2meet.com/nl" target="_blank">Seats2Meet</a>
                            /
                            <a href="http://www.trudo.nl/" target="_blank">Sint Trudo</a>
                            /
                            <a href="https://www.sintjoriscollege.info/" target="_blank">Sint-Joriscollege</a>
                            /
                            <a href="https://www.sintlucas.nl/" target="_blank">SintLucas</a>
                            /
                            <a href="http://www.skpo.nl/" target="_blank">SKPO</a>
                            /
                            <a href="https://www.sociaalwerknederland.nl" target="_blank">Sociaal Raadsliedenwerk</a>
                            /
                            <a href="https://www.ssoe.nl/" target="_blank">SSOE</a>
                            /
                            Stadsdichter Eindhoven
                            /
                            <a href="http://www.stedelijkcollege.nl/" target="_blank">Stedelijk College Eindhoven</a>
                            /
                            <a href="http://www.stercollege.nl" target="_blank">Stercollege</a>
                            /
                            <a href="http://www.sterkerwerkt.nl/" target="_blank">Sterker Werkt!</a>
                            /
                            <a href="https://www.steunpuntuitkeringen.nl/" target="_blank">Steunpunt uitkeringsgerechtigden</a>
                            /
                            <a href="http://www.steunpuntvluchtelingenwaalre.nl/" target="_blank">Steunpunt Vluchtelingen Waalre</a>
                            /
                            <a href="https://www.cultuureindhoven.nl/" target="_blank">Stichting Cultuur Eindhoven</a>
                            /
                            <a href="http://www.stichtingikwil.nl/" target="_blank">Stichting Ik Wil</a>
                            /
                            <a href="https://jureka.nl/" target="_blank">Stichting Jureka</a>
                            /
                            <a href="https://www.lezen.nl/nl" target="_blank">Stichting Lezen</a>
                            /
                            <a href="http://www.lezenenschrijven.nl/" target="_blank">Stichting Lezen & Schrijven</a>
                            /
                            <a href="https://hulphond.nl/" target="_blank">Stichting Hulphond</a>
                            /
                            <a href="https://stapopderodeloper.nl/over-ons/stichting-samenleving-kunst-amsterdam/" target="_blank">stichting Samenleving & Kunst Amsterdam (Stap op de rode loper)</a>
                            /
                            <a href="https://www.studio040.nl/" target="_blank">Studio040</a>
                            /
                            <a href="https://www.summacollege.nl/" target="_blank">Summacollege</a>
                            /
                            <a href="https://www.summacollege.nl/scholen/summa-plus" target="_blank">SUMMA PLUS</a>
                            /
                            <a href="https://www.t-huis.info" target="_blank">T+ Huis</a>
                            /
                            <a href="http://www.tegenlicht040.nl/" target="_blank">Tegenlicht MeetUp 040</a>
                            /
                            <a href="http://tonsmitshuis.nl/" target="_blank">Ton Smitshuis</a>
                            /
                            <a href="https://totaalinburgering.nl" target="_blank">Totaal inburgering</a>
                            /
                            <a href="https://thehubeindhoven.nl/" target="_blank">The Hub Eindhoven</a>
                            /
                            <a href="http://www.trefpuntgroeneindhoven.nl/" target="_blank">Trefpunt Groen Eindhoven</a>
                            /
                            <a href="https://www.tue.nl/" target="_blank">TU/e</a>
                            /
                            <a href="https://www.thisiseindhoven.com/nl/visit/wat-te-doen/cultuur/uit-in-eindhoven" target="_blank">Uit in Eindhoven</a>
                            /
                            <a href="https://vanabbemuseum.nl" target="_blank">Van Abbemuseum</a>
                            /
                            <a href="https://www.vanmaerlantlyceum.nl/" target="_blank">Van Maerlant Lyceum</a>
                            /
                            <a href="http://www.debibliotheken.nl" target="_blank">Vereniging voor Openbare Bibliotheken</a>
                            /
                            <a href="https://www.vitalisgroep.nl/" target="_blank">Vitalis</a>
                            /
                            <a href="https://www.vluchtelingenwerk.nl/" target="_blank">Vluchtelingenwerk</a>
                            /
                            <a href="https://www.vluchtelingenindeknel.nl/" target="_blank">Vluchtelingen in de Knel</a>
                            /
                            <a href="https://www.spildesterren.nl/" target="_blank">Vrije School Brabant</a>
                            /
                            <a href="https://wijeindhoven.nl/nl" target="_blank">WIJ Eindhoven</a>
                            /
                            <a href="https://www.wijzijnjong.nl/" target="_blank">Wij zijn JONG</a>
                            /
                            <a href="https://www.zuidzorg.nl" target="_blank">Zuidzorg</a>
                        </p>
                    {% endblock %}

                    <p class="text-{{ color }}-dark" style="font-size: 25px">
                        Met dank aan:
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>