{% extends "components/page-header.html.twig" %}

{% block headerContent %}
<p>
Wij willen dat de Bibliotheek Eindhoven van de stad is. We kijken met plezier terug op een jaar waarin we veel samen hebben gedaan. Elke samenwerking is een verrijking en maakt de bieb meer &ldquo;van ons allemaal&rdquo;. Dank voor de fijne samenwerking het afgelopen jaar!
</p>
{% endblock %}
