{% extends "components/page-header.html.twig" %}

{% block headerContent %}
<p>
Als toekomstbestendige bibliotheek heb je nooit een eindpunt. We zijn koersvast, maar geloven ook in de kracht van de reis, en in blijven meebewegen met de wereld om ons heen. We blijven ontwikkelen, intern, met derden en voor alle inwoners van Eindhoven en Waalre.
</p>
{% endblock %}

