<div class="video-wrapper">
    <div class="video-tracker w-full">
        <video class="video w-full" muted autoplay playsinline>
            <source src="assets/mp4/{{ source }}.mp4" type='video/mp4'>
        </video>
    </div>
</div> 
